/* fonts */
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 200;
    src: url("fonts/NotoSansKR-DemiLight.eot");
    src: url("fonts/NotoSansKR-DemiLight.eot?#iefix") format("embedded-opentype"),
        url("fonts/NotoSansKR-DemiLight.woff2") format("woff2"),
        url("fonts/NotoSansKR-DemiLight.woff") format("woff");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/NotoSansKR-Medium.eot");
    src: url("fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/NotoSansKR-Medium.woff2") format("woff2"),
        url("fonts/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/NotoSansKR-Bold.eot");
    src: url("fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/NotoSansKR-Bold.woff2") format("woff2"),
        url("fonts/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/roboto-v18-latin-700.eot");
    src: url("fonts/roboto-v18-latin-700.eot?#iefix") format("embedded-opentype"),
        url("fonts/roboto-v18-latin-700.woff2") format("woff2"),
        url("fonts/roboto-v18-latin-700.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/roboto-v18-latin-300.eot");
    src: url("fonts/roboto-v18-latin-300.eot?#iefix") format("embedded-opentype"),
        url("fonts/roboto-v18-latin-300.woff2") format("woff2"),
        url("fonts/roboto-v18-latin-300.woff") format("woff");
}
/* 전체요소 */
body {position: relative;font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";font-weight: 200;font-size: 15px;line-height: 1.6;color: #767572;letter-spacing: -0.025em;word-break: keep-all;word-wrap: break-word;}
h1,h2,h3,h4,h5,h6 {margin: 0;font-weight: 200;}
ul, ol {list-style: none;margin: 0;padding: 0;}
fieldset {margin: 0;padding: 0;border: none;}
textarea {resize: none;outline: none;padding: 7px 20px;line-height: 20px;color: #454545;font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";font-size: 14px;border: 1px solid #ccc;-webkit-border-radius: 0;}
button {font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";cursor: pointer;padding: 0;border: none;letter-spacing:-0.025em;}
a {text-decoration: none;color: #101010;outline: none;}
i, p, div, span, li {margin: 0;}
em {display: inline-block;font-style: normal;letter-spacing:-0.03em;}
strong {font-weight: 600;}
table {table-layout: fixed;width: 100%;border-collapse: collapse;border-spacing: 0;}
table caption {display: none;}
th, td {padding: 0;}
input, select {padding: 0;-webkit-border-radius: 0;}
input:focus {outline: none;}
dl, dd {margin: 0;}
figure {margin: 0;}
img {vertical-align: top;}
img[usemap], map area {outline: none;}
hr {display: none;}
address {font-style: normal;}
input, textarea, select, tt, code, kbd, samp, pre {font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";}
button {background-color: transparent;outline: none;}
button:disabled,
.order.ordersheet .discount-field .coupon .btn.disabled {color: #aea7a2 !important;border: 1px solid #e7e7e7 !important;background-color: #e7e7e7 !important;}
[type=file] {cursor: pointer;}
.hide {position: absolute !important;left:-9999px;}
*, *:before, *:after {box-sizing: border-box;}

input, select {padding: 0;-webkit-border-radius: 0;}
input:focus {outline: none;}
input[type="text"], input[type="number"], input[type="password"], input[type="date"] {padding: 0 19px;width: 100%;height: 42px;line-height: 40px;font-size: 15px;color: #101010;border: 1px solid #dbd9d6;-webkit-appearance: none;}
.btn.fill.black.full {width: 100%;}
.btn.bigger {height: 64px;line-height: 62px;font-size: 18px;font-weight: 600;}
.btn.big {height: 56px;line-height: 54px;font-size: 18px;}
.btn.middle {height: 48px;line-height: 46px;font-size: 15px;}
.btn.small {height: 32px;line-height: 30px;font-size: 15px;}
.btns {position: relative;display: block;text-align: center;font-size: 0;}
.btns > .btn {margin: 0 4px;width: calc(50% - 4px);}
.btns > .btn:first-child {margin-left: 0;}
.btns > .btn:last-child {margin-right: 0;}
.btn {display: inline-block;position: relative;padding: 0 12px;height: 42px;line-height: 40px;text-align: center;color: #fff;font-size: 15px;background-color: #fff;vertical-align: top;}

.btn.orange {color: #ff6913;border: 1px solid #ff6913;}
.btn.green {color: #adc71c;border: 1px solid #adc71c;}
.btn.black {color: #101010;border: 1px solid #101010;}
.btn.lightgray {color: #767572;border: 1px solid #dbd9d6;}
.btn.gray {color: #454545;border: 1px solid #dbd9d6;}
.btn.darkgray {color: #454545;border: 1px solid #454545;}

.btn.fill.orange {color: #fff;background-color: #ff6913;}
.btn.fill.green {color: #101010;background-color: #adc71c;}
.btn.fill.black {color: #fff;background-color: #101010;}
.btn.fill.lightgray {color: #101010;background-color: #f3f3f3;border-color: #f3f3f3;}
.btn.fill.gray {color: #fff;background-color: #454545;border-color: #454545;}

/* 스와이퍼 */
.mainbanner{
    width: 1204px;
    height: 540px;
    margin: 0 auto;
    position: relative;
}
#contents .mainbanner .swiper-button-prev{display: block;position: absolute;bottom: 224px;left: 0;transform: translateY(-50%);width: 40px;height: 40px;background-color: rgba(16, 16, 16, .3);cursor: pointer;z-index: 1;}
#contents .mainbanner .swiper-button-prev:after {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: inline-block;width: 14px;height: 25px;background: url("../img/btn.png") no-repeat 0 -200px;}
#contents .mainbanner .swiper-button-next{display: block;position: absolute;bottom: 224px;right: 0;transform: translateY(-50%);width: 40px;height: 40px;background-color: rgba(16, 16, 16, .3);cursor: pointer;z-index: 1;}
#contents .mainbanner .swiper-button-next:after {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: inline-block;width: 14px;height: 25px;background: url("../img/btn.png") no-repeat -50px -200px;}
#contents .mainbanner .swiper-pagination {display: block;position: absolute;bottom: 70px;left: 64px;padding: 0;width: 78px;line-height: 32px;color: #aea7a2;font-size: 14px;font-weight: 300;font-family: "Roboto";text-align: center;z-index: 1;}
#contents .mainbanner .swiper-pagination {margin-right: 1px;color: #101010;font-weight: 700;}
#contents .mainbanner .swiper-pagination span {margin-left: 1px;}
#contents .mainbanner .btn-play {display: block;position: absolute;bottom: 70px;left: 142px;width: 32px;height: 32px;font-size: 0;text-align: left;text-indent:-9999px;z-index: 1;}
#contents .mainbanner .btn-play:after {content: "";position: absolute;top: 0;left: 0;display: inline-block;width: 32px;height: 32px;background: url("../img/btn.png") no-repeat -400px -200px;}
#contents .mainbanner .btn-play:visited > .btn-play::after {background-position: -300px -200px;}
#contents .mainbanner .innercon {overflow: visible;}
#contents .mainbanner:hover > .swiper-pagination, #contents .mainbanner:hover .btn-play {display: block;}
.main .mainbanner.active .swiper-pagination-tot, .main .mainbanner.active .btn-play {display: block;}
.swiper-container{
	margin: 0 auto;
}
.swiper-wrapper{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
 .mainbanner .swiper-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-items: center;
    max-width: 100%;
  }
  
  .mainbanner .swiper-slide img {
    width: 1204px;
    height: 540px;
    object-fit: cover;

}
  .swiper-button-prev::after,
  .swiper-button-next::after{
    display: none;
  }


#wrap {min-width: 1204px;}

#wrap .innercon:after {content: "";display: block;clear: both;}
#wrap .lnbarea {float: left;width: 244px;}
#wrap .lnbarea h2 {margin-bottom: 6px;}
#wrap .lnbarea .lnb-depth1 {padding-top: 28px;}
#wrap .lnbarea .lnb-depth1 > a {display: block;line-height: 24px;color: #101010;font-size: 18px;font-weight: 600;}
#wrap .lnbarea .lnb-depth2 {margin-top: 6px;}
#wrap .lnbarea .lnb-depth2 li {display: block;line-height: 28px;}
#wrap .lnbarea .lnb-depth2 li a {display: inline-block;color: #767572;}
#wrap .lnbarea .lnb-depth2 li.active a,
#wrap .lnbarea .lnb-depth2 li a:hover {color: #ff6913;}
/* header */
#header {position: relative;min-height: 60px;border-bottom: 1px solid #e7e7e7;background-color: #fff;z-index: 20;}
#header .inner {margin: 0 auto;width: 1204px;}
#header .toparea {position: relative;z-index: 2;}
#header .toparea h1 {display: inline-block;height: 70px;}
#header .toparea h1 a {display: inline-block;padding-top: 11px;}
#header .toparea .util {position: absolute;top: 28px;right: 0;font-size: 0;}
#header .toparea .util a {display: inline-block;margin-left: 24px;color: #aea7a2;font-size: 13px;}
#header .toparea .util a:hover {text-decoration: underline;}

#header.short .toparea {height: 59px;}
#header.short .toparea h1 {height: 100%;}
#header.short .toparea h1 a {padding-top: 0;}
#header.short .toparea .util {top: 50%;transform: translateY(-50%);}
#header.short .toparea .util a {margin-left: 22px;color: #767572;}

#header .gnbarea {position: relative;padding: 6px 0 19px;height: 53px;  z-index: 1;}
#header .gnbarea .btn-category {position: absolute;left: 0;bottom: 0;padding-left: 30px;padding-bottom: 23px;line-height: 1;color: #767572; font-size: 15px;}
#header .gnbarea .btn-category::before {content: "";position: absolute;left: 0;top: 0;display: inline-block;width: 18px;height: 16px;background: url("../img/btn.png") no-repeat -100px -450px;}
#header .gnbarea .popcategory {display: none;position: absolute;top: 100%;left: 0;border: 1px solid #ddd;}

#header .gnbarea .popcategory .lnb-list > ul > li > button {padding: 0 5px 0 19px;width: 200px;line-height: 42px;color: #101010;text-align: left;background-color: #fff;}
#header .gnbarea .btn-category:hover + .popcategory{display:block}
#header .gnbarea .popcategory:hover {display: block;}
#header .gnbarea .popcategory .lnb-list > ul {position:relative; top: 0;right :0;bottom: 0;width: 200px;height: 100%;background-color: #f8f8f8;}
#header .gnbarea .popcategory .lnb-list > ul > li:hover > button {color: #ff6913;font-weight: 600;background-color: #f6f6f6;}
#header .gnbarea .popcategory .lnb-list > ul .depth2 {position: absolute;display: none; width: 250px; left: 100%; top: 0; height: 100%; background-color: #f6f6f6; overflow-y: auto;}
#header .gnbarea .popcategory .lnb-list .lnb .depth1 .depth2 > a{position: absolute; display: block; padding: 9px 40px 9px 19px;min-width: 100px;color: #101010;text-align: left; background-color: #f6f6f6;}
#header .gnbarea .popcategory .lnb-list > ul .depth2 a:hover {color: #ff6913;font-weight: 600; background-color: #f4f4f4;}
#header .gnbarea .popcategory .lnb-list > ul .depth2 a {position: relative;display: block;padding: 9px 40px 9px 19px;min-width: 100px;color: #101010;text-align: left;}
#header .gnbarea .popcategory .lnb-list .lnb .depth1:hover > .depth2{display: block;}

/* 테두리 크기에 맞게 변경 */
#header .gnbarea .popcategory .lnb-list > ul.lnb.on {width: 650px;overflow: visible;}
#header .gnbarea .popcategory .lnb-list > ul.lnb.on2 {width: 200px;}
#header .gnbarea .popcategory .lnb-list > .lnb.on .brand-wrap .depth2 {width: 450px;}
/*  설정 */
#header .gnbarea .gnb-list {padding: 0 260px;width: 100%;font-size: 0;text-align: center;}
#header .gnbarea .gnb-list li {display: inline-block;margin:0 17px;}
#header .gnbarea .gnb-list li a {color: #454545;font-size: 18px;vertical-align: middle;}






/* 서치박스 */
#header .gnbarea .popcategory .lnb-list .lnb .depth1 .depth2 .depth3{position: absolute; width: 140px; left: 100%; top: 0;display: none;}
#header .gnbarea .popcategory .lnb-list .lnb .depth1 .depth2 li:hover > .depth3{display: block;}

#header .gnbarea .searcharea {position: absolute;right: 55px;bottom: 14px;height: 36px;background-color: #ffc9c9;}
#header .gnbarea .searcharea .form-entry {position: absolute;right: 0;bottom: 0;}
#header .gnbarea .searcharea .form-entry input {padding: 0 66px 0 16px;width: 120px;height: 36px;line-height: 34px;text-align: left;border: 1px solid #f3f3f3;background-color: #f3f3f3;border-radius: 18px;transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;}
#header .gnbarea .searcharea .form-entry input:focus {width: 180px;border-color: #454545;background-color: #fff;}
#header .gnbarea .searcharea .form-entry input:focus + .btn-search:after{ background-position: -350px -300px;}
.form-entry .btn-del {display: none;position: absolute;bottom: 0;right: 0;width: 63px;height: 42px;text-align: left;text-indent:-9999px;}
.form-entry .btn-del:after {content: "";display: none;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 24px;height: 24px;background: url("../img/btn.png") no-repeat -450px 0;}
#header .gnbarea .searcharea .form-entry .btn-del {right: 24px;height: 36px;}
#header .gnbarea .searcharea .form-entry input:focus + .btn-del:after {display: block;}
#header .gnbarea .searcharea .form-entry .btn-search {position: absolute;top: 0;right: 12px;display: inline-block;width: 20px;height: 36px;text-indent:-9999px;text-align: left;}
#header .gnbarea .searcharea .form-entry .btn-search:after {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: inline-block;width: 20px;height: 20px;background: url("../img/btn.png") no-repeat -300px -300px;}
#header .gnbarea .searcharea.active .form-entry .btn-search:after {background-position: -350px -300px;}
#header .gnbarea .btn-cart {position: absolute;bottom: 14px;right: 0;width: 44px;height: 44px;text-align: left;text-indent:-999px;overflow: hidden;}
#header .gnbarea .btn-cart:after {content: "";position: absolute;left: 1px;top: 14px;display: inline-block;width: 26px;height: 21px;background: url("../img/btn.png") no-repeat -250px -300px;}
#header .gnbarea .btn-cart span {position: absolute;top: 0;right: 1px;min-width: 24px;height: 24px;line-height: 24px;color: #fff;font-size: 13px;text-align: center;text-indent:0;font-weight: 700;font-family: "Roboto";background-color: #ff6913;border-radius: 24px;z-index: 1;}
#header .gnbarea .searcharea .popsearch {position: absolute;top: 100%;right: 0;margin-top: 10px; display: none;}
#header .gnbarea .searcharea .popsearch .defaultsearch {width: 500px;border:1px solid #454545;background-color: #fff;}
#header .gnbarea .searcharea .popsearch .defaultsearch.scrollbox {max-height: 680px;}
#header .gnbarea .searcharea .popsearch .defaultsearch > div {padding: 0 30px;}
#header .gnbarea .searcharea .form-entry input:focus ~ .popsearch {display: block;}

/* contents */
#contents {position: relative;padding: 0px 0 120px;width: 100%;min-height: calc(100% - 424px);z-index: 10;}
#header.short ~ #contents {min-height: calc(100% - 360px);}
#contents > .innercon {position: relative;margin: 0 auto;width: 1204px;}
#contents > .innerconfull {position: relative;width: 100%;}
#contents h2 {color: #101010;font-size: 32px;font-weight: 600;}
#contents .lnbarea + .conarea {float: left;width: 960px;}
#contents .lnbarea + .conarea > h3.tit {padding: 3px 0 23px;color: #101010;font-size: 24px;font-weight: 200;}
#contents .lnbarea + .conarea > h3.tit.line {border-bottom: 2px solid #767572;}
#contents .timesale {position: relative;padding:60px 0; width: 1204px; margin: 0 auto;}
#contents .timesale:before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 21px;background: url("../img/home.png") no-repeat 50% 0;}
#contents .timesale:after {content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 21px;background: url("../img/home.png") no-repeat 50% -50px;}
#contents .timesale .innercon:after {content: '';display: block;clear: both;} 
#contents .timesale h2 {float: left;width: 602px;text-align: center; margin-top: -41px; z-index: 1;}
#contents .timesale h2:before {content: "";margin: 116px auto 33px;display: block;width: 101px;height: 102px;background: url("../img/home.png") no-repeat 0 -100px;}
#contents .timesale h2 strong {position: relative;display: block;font-size: 40px;font-weight: 200; margin-top: -11px}
#contents .timesale h2 small {display: block;padding-left: 0;font-size: 18px;margin-top: -41px}
#contents .timesale .timesaleswiper{float: left; width: 602px; height: 666px; background-color: #f5eee9; padding-top: 60px;  overflow: hidden; }
#contents .timesale .timesaleswiper img{width: 388px; height: 466px;}
#contents .timesale .timesaleswiper .swiper-wrapper{width: 388px; height: 624px; margin-left: 0 ;}
#contents .timesale .timesaleswiper .swiper-slide a {display: block;margin: 0 auto;width: 388px;}
#contents .timesale .timesaleswiper .swiper-slide .thumb {position: relative;display: block;}
#contents .timesale .timesaleswiper .swiper-slide .thumb img {width: 100%;height: 466px;}
#contents .timesale .timesaleswiper .swiper-slide .thumb .badge {position: absolute;bottom: -30px;right: 20px;display: inline-block;padding: 0 7px;width: 88px;line-height: 88px;color: #fff;font-size: 28px;font-weight: 200;background-color: #ff6913;text-align: center;box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);}
#contents .timesale .timesaleswiper .swiper-slide .thumb .badge em {display: inline-block;margin-right: 2px;font-weight: 600;vertical-align: top;}
#contents .timesale .timesaleswiper .swiper-slide .thumb .badge strong {display: inline-block;margin-right: 2px;font-size:20px;font-weight: 600;vertical-align: top;}
#contents .timesale .timesaleswiper .swiper-slide .txt-ti {display: block;margin-top: 22px;padding-right: 118px;max-height: 50px;line-height: 25px;color: #454545;font-size: 18px;font-weight: 200;}
#contents .timesale .timesaleswiper .swiper-slide .txt-price {display: block;font-size: 24px;}
#contents .timesale .timesaleswiper .swiper-slide .txt-price em {font-size: 32px;font-weight: 700;}
#contents .timesale .timesaleswiper .swiper-slide .txt-price strong {display: inline-block;margin-right: 6px;font-weight: 200;}
#contents .timesale .timesaleswiper .swiper-slide .txt-price del {display: inline-block;margin-left: 7px;color: #ff6913;font-size: 24px;font-family: "Roboto";}
#contents .timesale .timesaleswiper .swiper-slide .btn-cart {position: absolute;bottom: 62px;right: 120px;display: inline-block;width: 48px;height: 48px;text-align: left;text-indent:-9999px;font-size: 0;border: 1px solid #dbd9d6;border-radius: 48px;}
#contents .timesale .timesaleswiper .swiper-slide .btn-cart:after {content: "";position: absolute;top: 15px;left: 9px;display: inline-block;width: 26px;height: 21px;background: url("../img/btn.png") no-repeat 0 -100px;}


#contents > .innercon {position: relative;margin: 0 auto;width: 1204px; }
#contents > .innercon ul {margin-bottom: 13px;}
#contents > .innercon ul li{margin-top: 40px;}

#contents .category {overflow: hidden;}
#contents .category .title > a{position: absolute; font-size: 15px; right: 0; padding-top: 15px; padding-right: 21px; }
#contents .category .title > a:after{content: "";position: absolute; width: 10px; height: 20px; right : -3px; top: 22px; background: url(../img/btn.png) no-repeat -50px -50px;}
#contents .category .categoryswiper .swiper-slide > ul > li {position: relative; display: inline-block; width: 184px; height: 331px; margin-left: 12px; font-size: 16px;}
#contents .category .categoryswiper .swiper-slide > ul > li > a > img {position: relative; width: 184px; height: 221px; object-fit: cover;}
#contents .category .categoryswiper .swiper-slide > ul > li > .info { display: block; bottom: 0;} 
#contents .category .categoryswiper .swiper-slide > ul > li > a > strong { display: block; height: 51px;  bottom: 0;}
/* footer */
#footer {position: relative;width: 100%;min-height: 300px;background-color: #101010;z-index: 10;}
#footer .inner {position: relative;margin: 0 auto;width: 1204px;}
#footer .inner:after {content: "";display: block;clear: both;}
#footer .util {font-size: 0;border-bottom: 1px solid #2b2b2b;}
#footer .util .inner > a {display: inline-block;margin-right: 24px;line-height: 59px;color: #fff;font-size: 16px;}
#footer .util .share {position: absolute;top: 15px;right: 193px;font-size: 0;}
#footer .util .share button {position: relative;margin: 0 5px;width: 30px;height: 30px;text-align: left;text-indent: -9999px;}
#footer .util .share button:last-child {margin-right: 0;}
#footer .util .share button:after {content: "";position: absolute;top: 50%;left: 50%;display: block;background: url("../img/btn.png") no-repeat 0 0;}
#footer .util .share .btn-instagram:after {margin: -10px 0 0 -10px;width: 20px;heig 0px;background-position: -100px -350px;}
#footer .util .share .btn-youtube:after {margin: -8px 0 0 -10px;width: 20px;height: 15px;background-position: -150px -350px;}
#footer .util .share .btn-blog:after {margin: -9px 0 0 -11px;width: 21px;height: 17px;background-position: -200px -350px;}
#footer .util .share .btn-facebook:after {margin: -11px 0 0 -5px;width: 10px;height: 21px;background-position: -450px -400px;}
#footer .util .familysite {position: absolute;top: 0;right: 0;}
#footer .util .familysite .btn-site {position: relative;padding-right: 75px;width: 160px;height: 59px;line-height: 59px;color: #fff;font-size: 16px;text-align: right;font-weight: 200;font-family: "Roboto";}
#footer .util .familysite .btn-site:after {content: "";position: absolute;top: 50%;right: 20px;margin-top: -3px;transform:translateY(-50%) rotate(-180deg);width: 12px;height: 7px;background: url("../img/btn.png") no-repeat -250px -350px;}
#footer .util .familysite .btn-site.active:after {transform:translateY(-50%) rotate(0);}
#footer .util .familysite .link-list {display: none;position: absolute;bottom: 100%;right: 0;padding: 9px 12px;width: 100%;border: 1px solid #dbd9d6;background-color: #fff;z-index: 1;}
#footer .util .familysite .link-list:after {content: "";position: absolute;bottom: -7px;left: 50%;margin-left: -4px;display: inline-block;width: 11px;height: 7px;background: url("../img/icon.png") no-repeat -350px -50px;}
#footer .util .familysite .link-list li a {display: block;line-height: 24px;color: #454545;font-size: 13px;}
#footer .util .familysite .link-list li a:hover {text-decoration: underline;}
#footer .info {line-height: 24px;color: #aea7a2;font-size: 14px;}
#footer .info .inner {padding: 34px 0 40px 186px;}
#footer .info .cpname {color: #dbd9d6; font-size: 14px; margin-bottom: 5px;}
#footer .info .logo {position: absolute;left: 0;top: 43px;display: inline-block;width: 124px;height: 52px;text-align: left;text-indent:-9999px;}
#footer .info .logo:after {content: "";position: absolute;top: 0;left: 0;display: inline-block;width: 100%;height: 100%;background: url("../img/logo_footer.png") no-repeat 0 0;}
#footer .info .inner > span {display: inline-block;margin-right: 11px;}
#footer .info strong {font-weight: 200;}
#footer .info a {display: inline-block;margin-left: 8px;padding-right: 2px;line-height: 20px;color: #dbd9d6;text-decoration: underline;}
#footer .info p {margin-top: 15px;margin-bottom: -3px;color: #aea7a2;font-size: 13px;line-height: 1.5;}
#footer .info p .confirm-btn {margin-left:5px;color: #aea7a2;font-size: 13px;text-decoration: underline;}
#footer .info .copyright {display: block;color: #767572;font-size: 14px;margin-top: 13px;}
#footer .btn-top {display: none;position: fixed;bottom: 50px;right: 10px;padding-top: 19px;width: 60px;height: 60px;color: #fff;font-size: 14px;font-weight: 700;font-family: "Roboto";text-align: center;background-color: #454545;z-index: 1;}
#footer .btn-top:after {content: "";position: absolute;top: 10px;left: 50%;margin-left: -6px;display: block;width: 12px;height: 14px;background: url("../img/btn.png") no-repeat -150px -300px;}
#footer .btn-top.scroll {display: block;}
#footer .info .essential-info em {color: #aea7a2;margin-bottom: 15px;}

/* 세일 화면 */
.main #contents > section {margin-top: 80px;}

.main section {position: relative;}
.main section h2 {position: relative;margin-top: -4px;padding-bottom: 19px;min-height: 61px;line-height: 30px;text-align: left;}
.main section h2 strong {display: inline-block;margin-top: -3px;line-height: 1;color: #101010;font-size: 28px;font-weight: 600;}
.main section h2 small {display: inline-block;margin-top: 2px;padding-left: 26px;color: #767572;font-size: 15px;vertical-align: middle;}
.main section h2 .btn {position: absolute;top: 0;right: 0;padding-right: 21px;vertical-align: top;}
.main section h2 small + .btn {margin-left:5px;padding-left: 35px;}
.main section:nth-of-type(1) h3 {padding-top: 30px;border-top: none;}
.main section h3 {padding-top: 51px;border-top: 1px solid #e7e7e7;}
.main section h3 strong {font-size: 24px;}
.main section h3 small {display: inline-block;margin-left: 30px;}
.main section .innercon {position: relative;margin: 0 auto;padding-bottom: 0;width: 1204px;}
.main .innercon .btn.more {margin-top: 40px;}
.main .list-filter {margin: 42px 0 21px;}
.main h2 + .list-filter {margin-top: -41px;margin-bottom: 23px;padding-top: 41px;min-height: 36px;}
.main .list-filter .form-filter {top: 13px;}
.list-filter {position: relative;margin: 52px 0 28px;}
.list-filter:after {content: "";display: block;clear: both;}
.list-filter .txt-total {display: inline-block;line-height: 32px;color: #101010;font-size: 24px;font-weight: 200;}
.list-filter .txt-total em {color: #ff6913;font-weight: 700;font-family: "Roboto";vertical-align: baseline;}
.esuper .list-filter .txt-total em {color: #adc71c;}
.esuper .list-filter .txt-category {font-size: 24px;font-weight: 600;color: #101010;}

.list-filter .filter-wrapper {position: absolute; right: 0; top: 5px;}
.onlyh-list + .list-filter .filter-wrapper {bottom: 0; top: initial;}
.list-filter.search-result .filter-wrapper {bottom: 10px;}
.list-filter .shipping-select {display: inline-block; margin-right: 30px;}
.list-filter .shipping-select > label input[type="radio"] + span:after {content:"";position:absolute;top:0;left:0;bottom:0;width:1px;height:12px;margin:auto;background:#dbd9d6;}
.list-filter .shipping-select > label:first-child input[type="radio"] + span:after {content: none;}
.list-filter .filter-wrapper .form-filter {position: static; display: inline-block;}
.list-filter .filter-wrapper .form-filter .btn-group .recominfo {position: relative; top: 8px; display:inline-block;}
.list-filter .filter-wrapper .form-filter .btn-group li button {line-height: 32px;}
.list-filter .filter-wrapper .form-filter .btn-filter {line-height: 32px;}
.search-result .filter-wrapper input[type="radio"].sort + span {line-height: 30px;}

.list-filter .filter-wrapper  .form-filter {position: absolute;top:0;right: 0;;}
.list-filter .filter-wrapper  .form-filter .btn-group {display: inline-block;vertical-align: top;}
.list-filter .filter-wrapper  .form-filter .btn-group li {vertical-align: top;}
.list-filter .filter-wrapper  .form-filter .btn-group li button.active {color: #101010;}
.list-filter .filter-wrapper  .form-filter .btn-group .recominfo {margin-right: 8px;vertical-align: top;}
.list-filter .filter-wrapper  .form-filter .btn-group .recominfo .popinner {left: 0;right: auto;}
.list-filter .filter-wrapper  .form-filter .btn-filter {margin-left: 24px;padding: 0;height:auto;line-height:1.15;vertical-align: top;border: none;}
.list-filter .filter-wrapper  .form-filter .btn-filter:before {content: "";display: inline-block;margin-right: 8px;width: 12px;height: 12px;background: url("../img/btn.png") no-repeat -300px 0;}
.list-filter .filter-wrapper  .form-filter .btn-filter:after {content: "펼침";display: inline-block;font-size: 15px;}
.list-filter .filter-wrapper  .form-filter .btn-filter.active:after {content: "닫기";}
.list-filter .filternav {display: none;position: absolute;left: 0;top: 39px;width: 100%;border: 1px solid #101010;background-color: #fff;z-index: 2;}
.list-filter .filternav.active {display: block;}
.list-filter .filternav .scrollbox {max-height: 510px;}
.list-filter .filternav .scrollbox > div {position: relative;padding: 20px 0 20px 155px;border-top: 1px solid #e7e7e7;background: #f8f8f8;}
.list-filter .filternav .scrollbox > div:nth-of-type(1) {border-top: none;}
.list-filter .filternav .scrollbox > div .ti {position: absolute;left: 32px;top: 50%;margin-top:-12px;color: #aea7a2;font-weight: 200;}
.list-filter .filternav .scrollbox > div .con {font-size: 0;}
.list-filter .filternav .scrollbox > div .con label {display: inline-block;}
.list-filter .filternav .scrollbox > div .con label span {color: #454545;word-break: break-all;}
.list-filter .filternav .scrollbox > div .con label span em {margin-left: 7px;color: #aea7a2;font-family: "Roboto";font-weight: 300;}
.list-filter .filternav .scrollbox .category .ti {top: 16px;margin-top: 0;}
.list-filter .filternav .category .con label {margin-top: 12px;width: 25%;}
.list-filter .filternav .category .con label:nth-child(1),
.list-filter .filternav .category .con label:nth-child(2),
.list-filter .filternav .category .con label:nth-child(3),
.list-filter .filternav .category .con label:nth-child(4) {margin-top: 0;}
.list-filter .filternav .category .con ul {position: relative;margin-top: -4px;}
.list-filter .filternav .category .con ul li {display: inline-block;margin-top: 4px;margin-right: 4px;width: 244px;}
.list-filter .filternav .category .con ul li button {width: 100%;}
.list-filter .filternav .category .con ul li strong {display: inline-block;max-width: 170px;font-weight: 200;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: top;}
.list-filter .filternav .category .con ul li button em {margin-left: 6px;color: #aea7a2;font-weight: 300;font-family: "Roboto";}
.list-filter .filternav .category .con ul li.active button {color: #101010;font-weight: 600;border-color: #101010;}
.list-filter .filternav .category .con ul li.active button em {color: #101010;font-weight: 700;}
.list-filter .filternav .category .con ul li .con {position: absolute;left: 0;display: none;padding: 20px 0;width: 100%;}
.list-filter .filternav .category .con ul li.active button + .con {display: block;}
.list-filter .filternav .delivery .con label {margin-left: 47px;}
.list-filter .filternav .delivery .con label:nth-child(1) {margin-left: 0;}
.list-filter .filternav .scrollbox .brand .ti {top: 18px;margin-top: 0;}
.list-filter .filternav .brand .con label {margin-top: 12px;width: 25%;}
.list-filter .filternav .brand .con label:nth-child(1),
.list-filter .filternav .brand .con label:nth-child(2),
.list-filter .filternav .brand .con label:nth-child(3),
.list-filter .filternav .brand .con label:nth-child(4) {margin-top: 0;}
.list-filter .filternav .benefit .con label {margin-top: 12px;width: 180px;}
.list-filter .filternav .benefit .con label:nth-child(1),
.list-filter .filternav .benefit .con label:nth-child(2),
.list-filter .filternav .benefit .con label:nth-child(3),
.list-filter .filternav .benefit .con label:nth-child(4) {margin-top: 0;}
.list-filter .filternav .price label {margin-left: 4px;display: inline-block;}
.list-filter .filternav .price label:nth-of-type(1) {margin-left: 0;}
.list-filter .filternav .price input {height: 32px;line-height: 30px;vertical-align: top;}
.list-filter .filternav .price input[type="radio"] + span {padding: 0;width: 88px;color: #767572;border: 1px solid #e7e7e7;text-align: center;}
.list-filter .filternav .price input[type="radio"] + span:before {display: none;}
.list-filter .filternav .price input[type="radio"]:checked + span {color: #101010;font-weight: 600;border: 1px solid #101010;}
.list-filter .filternav .price input[type="number"] {display: inline-block;margin-left: 4px;margin-right: 4px;padding: 0 11px;width: 88px;text-align: right;}
.list-filter .filternav .price .txt {display: inline-block;margin-left: 38px;padding-right: 6px;line-height: 32px;color: #454545;font-size: 15px;vertical-align: top;}
.list-filter .filternav .price .txt-won {display: inline-block;line-height: 32px;color: #454545;font-size: 15px;vertical-align: top;}
.list-filter .filternav .select-filter {position: relative;padding: 16px 0 20px 155px;min-height: 73px;border-top: 1px solid #e7e7e7;}
/* .list-filter .filternav .select-filter.active {display: none;} */
.list-filter .filternav .select-filter .ti {position: absolute;left: 32px;top: 50%;margin-top:-12px;color: #aea7a2;font-weight: 200;}
.list-filter .filternav .btns {padding: 20px 0;}
.list-filter .filternav .btns .btn {width: 200px;}
.list-filter > .select-filter {position: relative;margin-top: 16px;padding: 12px 95px 0 0;border-top: 1px solid #e7e7e7;}
.list-filter > .select-filter .btn-reset {position: absolute;top: 16px;right: 0;width: 95px;}
.list-filter .select-filter {display: none;}
.list-filter .select-filter.active {display: block;}
.list-filter .select-filter .con .btn {margin: 4px 4px 0 0;padding: 0 34px 0 12px;}
.list-filter .select-filter .con .btn:after {content: "";position: absolute;top: 50%;right: 12px;display: inline-block;margin-top:-6px;width: 12px;height: 12px;background: url("../img/btn.png") no-repeat -50px 0;}
.list-filter .select-filter .con .btn em {display: none;}

.btn-group {font-size: 0;}
.btn-group li {position: relative;display: inline-block;margin-left: 11px;padding-left: 13px;}
.btn-group li::before {content: "";position: absolute;top: 50%;left: 0;display: inline-block;transform: translateY(-50%);width: 1px;height: 14px;background-color: #dbd9d6;}
.btn-group li:first-child {margin-left: 0;padding-left: 0;}
.btn-group li:first-child:before {display: none;}
.btn-group li > a,
.btn-group li > button {display: inline-block;color: #767572;font-size: 15px;}
.btn-group li > a:hover,
.btn-group li > button:hover {text-decoration: underline;}

.popinline {position: relative;display: inline-block;}
.popinline .popinner {display: none;position: absolute;right: 0;top: 100%;margin-top: 8px;padding: 19px 29px 21px 23px;width: 305px;line-height: 19px;color: #454545;font-size: 13px;text-align: left;border: 1px solid #101010;background-color: #fff;z-index: 2;}
.popinline .popinner.active {display: block;}
.popinline .popinner .btn-close {position: absolute;top: 0;right: 0;width: 34px;height: 34px;text-align: left;text-indent:-9999px;z-index: 1;}
.popinline .popinner .btn-close:after {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 12px;height: 12px;background: url("../img/btn.png") no-repeat -50px 0;}

/* tabmenu */
.tab-menu {height: 53px;font-size: 0;border-bottom: 1px solid #dbd9d6;}
.tab-menu a {position: relative;display: inline-block;margin-left: 40px;line-height: 50px;color: #aea7a2;font-size: 18px;text-align: center;z-index: 0;}
.tab-menu a:first-child {margin-left: 0;}
.tab-menu a em {margin-left: 8px;color: #dbd9d6;font-weight: 700;font-family: "Roboto";}
.tab-menu a.active {color: #ff6913;font-weight: 600;border-bottom: 3px solid #ff6913;z-index: 1;}
.tab-menu a.active em {color: #ff6913;}

/* review-list */
.review-list {position: relative;}
.review-list li {position: relative;padding: 28px 0 31px;border-bottom: 1px solid #e7e7e7;}
.review-list li:after {content: '';display: block;clear: both;}
.review-list .star {float: left;width: 150px;}
.review-list .best {position: relative;display: block;margin-top: 21px;width: 44px;height: 28px;line-height: 28px;color: #fff;font-size: 13px;font-weight: 600;font-family: "Roboto";background-color: #ff1e13;text-align: center;}
.review-list .best:before {content: "";position: absolute;top: 0;right:-6px;width: 0;height: 0;border-bottom: 14px solid transparent;border-left: 6px solid red;}
.review-list .best:after {content: "";position: absolute;bottom: 0;right:-6px;width: 0;height: 0;border-top: 14px solid transparent;border-left: 6px solid red;}
.review-list .recont {float: left;width: 480px;}
.review-list .recont .pic {position: relative;margin-top: 8px;margin-bottom: 15px;padding: 0;display: block;font-size: 0;}
.review-list .recont .pic button {position: relative;display: inline-block;margin-right: 4px;width: 120px;height: 120px;overflow: hidden;}
.review-list .recont .pic button img {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;}
.review-list .recont .ti {position: relative;display: block;height: auto;overflow: hidden;line-height: 19px;text-align: left;}
.review-list .recont .ti .txt-option {margin-top: 6px;margin-bottom: 6px;display: block;line-height: 17px;color: #767572;font-size: 13px;}
.review-list .recont .ti .txt-review {position: relative;margin-top: 2px;display: block;line-height: 30px;color: #101010;font-size: 18px;}
.review-list .like {margin-top: 26px;line-height: 29px;color: #aea7a2;font-size: 15px;text-align: left;}
.review-list .like .btn-reviewlike {position: relative;margin-right: 4px;padding: 0 12px 0 36px;height: 28px;line-height: 1;color: #101010;font-size: 13px;border-color: #dbd9d6;border-radius: 28px;vertical-align: top;}
.review-list .like .btn-reviewlike:before {content: "";position: absolute;left: 11px;top: 5px;display: inline-block;width: 18px;height: 16px;background: url("../img/icon.png") no-repeat -100px -50px;}
.review-list .like .btn-reviewlike.active {border-color: #ff6913;}
.review-list .like .btn-reviewlike.active:before {background-position:-50px -50px;}
.review-list .info {float: right;width: 178px;text-align: right;}
.review-list .info > span {position: relative;display: inline-block;vertical-align: middle;}
.review-list .info .txt-id {color: #aea7a2;font-size: 13px;}
.review-list .info .txt-date {margin-left: 11px;padding-left: 13px;color: #aea7a2;font-size: 13px;}
.review-list .info .txt-date:before {content: "";position: absolute;top: 4px;left: 0;display: inline-block;width: 1px;height: 12px;background-color: #dbd9d6;}
.review-list .btnwrap {position: absolute;bottom: 33px;right: 0;z-index: 1;font-size: 0;}
.review-list .btnwrap button {color: #767572;font-size: 13px;}
.review-list .btnwrap button + button {position: relative;padding-left: 10px;margin-left: 10px;}
.review-list .btnwrap button + button:before {content: "";position: absolute;top: 1px;left: 0;background-color: #dbd9d6;width: 1px;height: 13px;}
.review-list .nodata {padding-top: 150px;padding-bottom: 150px;}
.review-list .nodata.txt-star {padding-top: 80px;}
.review-list .txt-star {padding-top: 17px;}
/* input&textarea */
input[type="text"], input[type="number"], input[type="password"], input[type="date"] {padding: 0 19px;width: 100%;height: 42px;line-height: 40px;font-size: 15px;color: #101010;border: 1px solid #dbd9d6;-webkit-appearance: none;}
input[type="text"].big, input[type="number"].big, input[type="password"].big, input[type="date"].big {height: 56px;line-height: 54px;}
input[type="password"]::-ms-clear, input[type="password"]::-ms-reveal {display: none;}
input[type="text"]::-ms-clear {display: none;}
input[type="number"]::-ms-clear {display: none;}
input[type="number"] {-moz-appearance: textfield;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;}
input[readonly], input:disabled, input:disabled::placeholder {color: #aea7a2;-webkit-text-fill-color: #aea7a2;background: #f3f3f3;}
input[type="text"]:disabled {color: #aea7a2;}
input:required {background: #ffc9c9;}
input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, textarea:focus {border-color: #101010;}
input[readonly]:focus {border-color: #dbd9d6;}

textarea::placeholder, input::placeholder {font-size: 15px;color: #aea7a2;letter-spacing:-0.025em;}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {font-size: 15px;color: #aea7a2 !important;letter-spacing:-0.025em;}
textarea {padding: 10px 15px;width: 100%;line-height: 1.5;font-size: 15px;border: 1px solid #dbd9d6;overflow-y: auto;-webkit-appearance: none;}
textarea.small {font-size: 14px;}
textarea.small::placeholder {font-size: 14px;}
textarea.small:-ms-input-placeholder {font-size: 14px;}

/* checkbox & radio */
input[type="radio"],
input[type="checkbox"] {position: absolute;left:-9999px;}
input[type="radio"] + span,
input[type="checkbox"] + span {position: relative;display: inline-block;padding-left: 30px;min-height: 22px;color: #454545;user-select: none;cursor: pointer;line-height: 22px;font-size: 15px;vertical-align: top;}
input[type="radio"].big + span,
input[type="checkbox"].big + span {padding-left: 32px;min-height: 24px;line-height: 24px;color: #101010;font-size: 18px;}
input[type="checkbox"]:disabled + span,
input[type="radio"]:disabled + span {color: #aea7a2;cursor: default;}
input[type="radio"] + span:before,
input[type="checkbox"] + span:before {content: "";position: absolute;top: 0;left: 0;display: inline-block;width: 22px;height: 22px;background-image: url("../img/form.png");}
input[type="radio"].big + span:before,
input[type="checkbox"].big + span:before {width: 24px;height: 24px;}

/* checkbox */
input[type="checkbox"] + span:before {background-position: 0 0;}
input[type="checkbox"]:checked + span:before {background-position:-50px 0;}
input[type="checkbox"]:disabled + span:before {background-position:-100px 0;}
input[type="checkbox"]:disabled:checked + span:before {background-position:-150px 0;}

input[type="checkbox"].big + span:before {background-position: 0 -50px;}
input[type="checkbox"].big:checked + span:before {background-position:-50px -50px;}
input[type="checkbox"].big:disabled + span:before {background-position:-100px -50px;}
input[type="checkbox"].big:disabled:checked + span:before {background-position:-150px -50px;}

input[type="checkbox"].sort + span {padding-top: 0;padding-left: 50px;line-height: 24px;color: #aea7a2;font-size: 14px;}
input[type="checkbox"].sort + span:before {top: 5px;left: 0;width: 44px;height: 14px;background-image: none;background-color: #dbd9d6;border: 1px solid #dbd9d6;border-radius: 16px;transition: all .2s ease-in-out;}
input[type="checkbox"].sort + span:after {content: "";position: absolute;top: 1px;left: 0;display: inline-block;width: 22px;height: 22px;background-image: none;background-color: #fff;border: 1px solid #dbd9d6;border-radius: 24px;transition: all .2s ease-in-out;}
input[type="checkbox"].sort:checked + span {color: #454545;}
input[type="checkbox"].sort:checked + span:before {background-color: #101010;border-color: #101010;}
input[type="checkbox"].sort:checked + span:after {left: 22px;border-color: #101010;}
input[type="checkbox"].sort:disabled + span:before {background-position: 0 -228px;}

/* radio */
input[type="radio"] + span:before {background-position: 0 -100px;}
input[type="radio"]:checked + span:before {background-position:-50px -100px;}
input[type="radio"]:disabled + span:before {background-position:-100px -100px;}
input[type="radio"]:disabled:checked + span:before {background-position:-150px -100px;}

input[type="radio"].big + span:before {background-position: 0 -150px;}
input[type="radio"].big:checked + span:before {background-position:-50px -150px;}
input[type="radio"].big:disabled + span:before {background-position:-100px -150px;}
input[type="radio"].big:disabled:checked + span:before {background-position:-150px -150px;}

input[type="radio"].sort + span {margin-left: 12px;padding-left: 12px;line-height:32px;color: #767572;}
input[type="radio"].sort + span:before {display:none;top:0;bottom:0;left:12px;width:15px;height:12px;margin:auto;}
input[type="radio"].sort:checked + span {padding-left:33px;color: #101010;}
input[type="radio"].sort:checked + span:before {display:block;background-position:-50px -200px;}

/* list-sort */
.list-sort {position: relative;padding: 20px 0 14px;border-bottom: 1px solid #101010;}
.list-sort > label {display: inline-block;}
.list-sort .form-sort {margin-left: 20px;display: inline-block;}
.list-sort > .select {position: absolute;top: 0;right: 0;width: 160px;}

/* table */
.table {border-top: 1px solid #e7e7e7;}
.table thead th {padding: 11px 0;line-height: 24px;color: #454545;font-size: 15px;font-weight: 200;text-align: center;background-color: #f8f8f8;border-bottom: 1px solid #e7e7e7;}
.table tbody th {padding: 12px 24px;line-height: 24px;color: #454545;font-size: 15px;font-weight: 200;text-align: left;vertical-align: middle;background-color: #f8f8f8;border-bottom: 1px solid #e7e7e7;}
.table tbody td {position: relative;padding: 12px 24px;line-height: 24px;color: #767572;font-size: 15px;text-align: center;vertical-align: middle;border-bottom: 1px solid #e7e7e7;}
.table tbody td.txt-left {padding-left: 24px;text-align: left;}
.table tbody td.txt-right {padding-right: 24px;text-align: right;}
.tbl-guide {text-align: center;}
.tbl-guide thead th {padding: 14px 4px;line-height: 20px;color: #454545;font-size: 15px;font-weight: 200;border-top: 1px solid #e7e7e7;background: #f3f3f3;}
.tbl-guide tbody th {padding: 14px 4px 15px 4px;line-height: 20px;color: #767572;font-size: 15px;font-weight: 200;background: #f3f3f3;border-top: 1px solid #e7e7e7;}
.tbl-guide tbody td {padding: 14px 4px 15px 4px;line-height: 20px;color: #767572;font-size: 15px;border-top: 1px solid #e7e7e7;}
.tbl-guide tbody tr:last-child td {border-bottom: 1px solid #e7e7e7;}
.tbl-guide tbody td.txt-left {padding-left: 15px;text-align: left;}
.tbl-guide tbody td.txt-right {padding-right: 15px;text-align: right;}
.tbl-guide tbody td .txt-row {display: flow-root;overflow: hidden;}
.tbl-guide tbody .nodata {padding: 182px 0;color: #aea7a2;font-size: 15px;}
.tbl-guide.row {text-align: left;border-bottom: 1px solid #e7e7e7;}
.tbl-guide.row tbody th {padding: 9px 15px 10px 15px;}
.tbl-guide.row tbody td {padding: 9px 15px 10px 15px;border-top: 1px solid #e7e7e7;}
.tbl-guide.row tbody tr:first-child td {border-top: 1px solid #e7e7e7;}














